.navbar {
    position: fixed;
    width: 100%;
    z-index: 999; // other shadows may draw on top...
    -webkit-box-shadow: 0 8px 6px -6px var(--primaryColor);
    -moz-box-shadow: 0 8px 6px -6px var(--primaryColor);
    box-shadow: 0 8px 6px -6px var(--primaryColor);
}

.nav-link {
    color: var(--contrastColor) !important;
    text-decoration:none;
}

.navbar-brand {
    color: var(--contrastColor) !important;
    text-decoration:none;
}