
.ProjectCards {
    // variables for better control
    --projects-layout-gap: 10px;
    --projects-column-count: 2;
    --projects-item--min-width: 300px;

    // calculated variables
    --projects-gap-count: calc(var(--projects-column-count) - 1);
    --projects-total-gap-width: calc(var(--projects-gap-count) * var(--projects-layout-gap));
    --projects-item--max-width: calc((100% - var(--projects-total-gap-width)) / var(--projects-column-count));

    // grid declaration
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--projects-item--min-width), var(--projects-item--max-width)), 1fr));
    grid-gap: var(--projects-layout-gap);

    // extra
    justify-content: center;
    justify-items: center;
    align-items: center;
    list-style: none;

    .ProjectCard {
        height: 100%;
    }
}

.ProjectCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0px;
    flex-basis: 0px;

    padding: 20px;
    margin: 20px;

    border: 1px solid rgba(white, 0.45);
    background-color: rgba(white, 0.45);
    border-radius: 20px;

    // shadow
    box-shadow: 0 0 10px 1px rgba(black, 0.25);

    backdrop-filter: blur(15px);
    transition: all 0.2s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

    // hover "lift"
    &:hover {
        box-shadow: 0 0 10px 1px rgba(black, 0.45);
        transform: scale(1.01); 
    }

    h2 {
        color: var(--secondaryColor);
    }
}