
.ProjectCards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    list-style: none;
}

.ProjectCardOutline {
    border-radius: 15%;
    background: linear-gradient(71deg, var(--contrastColor), var(--secondaryColor), var(--contrastColor));
}

.ProjectCardContent {
    margin: 3px;
    padding: 7px;
    border-radius: 15%;
    background-color: var(--contrastColor);
}

.ProjectCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0px;
    flex-basis: 0px;

    width: 250px;
    
    margin: 20px;

    -webkit-filter: drop-shadow(-1px 1px 3px black);
    filter: drop-shadow(-1px 1px 3px black);
}